.resultsScroll {
    display: flex;
    background-color: #a790901f;
    overflow-x: auto;
    align-items: center;
    border-radius: 10px 10px 30px 30px;
    margin-bottom: 10px;
    margin-right: 30px;
    margin-left: 30px;
    -webkit-box-shadow: 6px 6px 14px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 6px 14px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 6px 14px -5px rgba(0, 0, 0, 0.75);

    &::-webkit-scrollbar {
        // display: none;
        background-color: transparent;
    }

    .resultScroll {
        margin: 15px 10px 0 10px;
        width: 130px;
        background-color: #17223b;
        text-align: center;
        border-radius: 10px 10px 15px 15px;
cursor: pointer;
        -webkit-box-shadow: 6px 6px 14px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 6px 6px 14px -5px rgba(0, 0, 0, 0.75);
        box-shadow: 6px 6px 14px -5px rgba(0, 0, 0, 0.75);

        img {
            width: 130px;
            border-radius: 10px 10px 15px 15px;
        }

        h4 {
            color: whitesmoke;
            padding: 10px;
        }
    }
}