.searchBox-wrap {

  margin: 10px 30px;

  .searchBox {

    display: block;
    width: 100%;
    padding: 13px;
    // margin: 10px;

    -webkit-box-shadow: 6px 6px 14px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 6px 14px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 6px 14px -5px rgba(0, 0, 0, 0.75);

    border: none;
    outline: none;
    background: none;

    background-color: #eee;
    border-radius: 8px;

    color: #6b778d;
    font-size: 20px;
    font-weight: 300;

    transition: 0.4s ease-out;
    margin-bottom: 20px;

    &:focus {
      outline: none;
      box-shadow: 0 0 2px 3px #999999;
    }

    &::placeholder {
      text-align: center;
    }
  }
}